services:
  postgres:
    image: postgres:15
    container_name: employee_management_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: emp_management
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
